<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- 1. Redirection forcée HTTP vers HTTPS -->
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
                </rule>

                <!-- 2. Reverse Proxy Streamlit avec transmission des identifiants SSO -->
                <rule name="ReverseProxy_Streamlit" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <!-- Exclusion du sas d'authentification -->
                        <add input="{URL}" pattern="^/auth/.*" negate="true" />
                        <!-- Exclusion des fichiers physiques natifs IIS -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_USER" value="{LOGON_USER}" replace="true" />
                        <set name="HTTP_X_REMOTE_USER" value="{REMOTE_USER}" replace="true" />
                    </serverVariables>
                    <action type="Rewrite" url="http://127.0.0.1:8501/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>